#!/usr/bin/env bash

export SERVER_IP="0.0.0.0"
export REMOTE_USER="root"
export REMOTE_DIR="/opt/legal_api"
export SSH_PORT="22"
# export SSH_IDENTITY_FILE="$HOME/.ssh/id_rsa"
# only installer scripts are uploaded; application source is cloned on the VPS
