#!/usr/bin/env bash

export SERVER_IP="0.0.0.0"
export REMOTE_USER="root"
export PASSWORD="replace-with-ssh-password"
export SOURCE_DIR="$HOME/works/project_legal_ai/legal_api/install"
export DEST_DIR="/tmp/project_legal_ai"
export SSH_PORT="22"
